* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 30%, #f4a583 80%), url("../img/back.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* Cabecalho */

.header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: rgba(79, 32, 21, .9);
    height: 80px;
    width: 100vw;
}

header {
    width: 100vw;
}


/* Menu */

li {
    justify-content: block;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

ul {
    display: flex;
    justify-content: block;
    padding: 0px 20px 0px 20px;
    text-decoration: none;
}

ul li a {
    text-decoration: none;
    color: antiquewhite;
}

ul li a:hover {
    text-decoration: none;
    color: rgb(239, 189, 124);
}

main {
    height: 100%;
    max-width: 1000px;
    margin: auto;
    padding-top: 0px;
}


/* Botoes */

button {
    display: block;
    margin: auto;
    padding: 15px;
    width: 300px;
    border-radius: 20px;
    border: 0;
    background-color: rgb(66, 22, 25);
    color: rgb(243, 234, 234);
    font-size: 1.5em;
    cursor: pointer;
}

button {
    margin-top: -30px;
}

#titulo {
    margin: 120px -80px 0px 100px;
}


/* Secao 01 */

.sct-01 {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    width: 100vw;
    height: 80vh;
    background-color: rgba(246, 145, 145, .8);
    font-family: 'Pinyon Script', cursive;
    font-size: 5em;
    line-height: 1.1em;
    text-align: left;
    color: rgb(56, 12, 12);
    box-shadow: 5px 5px 7px #0f050554;
    z-index: 1;
}

.sct-01 div {
    margin: auto;
    border-radius: 20px;
}

.sct-01 div p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .3em;
    text-align: left;
    line-height: 1.4em;
    color: rgb(110, 62, 62);
    margin-top: 25px;
}


/* Secao 02 */

.sct-02 div {
    width: 300px;
    height: 600px;
    background-color: rgba(165, 42, 42, .8);
    margin: auto;
    border-radius: 20px;
}

.sct-02 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    padding: 20px;
}

.sct-02 img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    grid-template-columns: auto auto auto;
    margin: auto;
    box-shadow: 1px 5px 7px #0f050554;
}

.sct-02 img {
    margin-top: 30px;
}

.sct-02 div p {
    margin: auto;
    padding: 40px;
    text-align: center;
}

.sct-02 {
    margin-top: 50px;
}

.sct-02 div img {
    background-color: rgba(138, 129, 129, 0.0);
    border: 1px dashed white;
    padding: 15px;
}


/* Rodape */

footer {
    background-color: rgb(58, 34, 34);
    height: 100px;
    width: 100%;
}

footer>p {
    text-align: center;
    vertical-align: middle;
    padding: 30px;
    font-size: .7em;
}

footer {
    width: 100vw;
    margin-top: 40px;
}
